<h2>Amazing Flowers</h2>

<ul class= "cards"?
{{#each flowers}}
<li class="card">
  <div class = "flower">
    <span class = "title"> {{name}} </span>
    <img src = {{image}}>
    <h3> {{power}} </h3>
    <p> {{description}}</p>
  </div>
</li>

{{/each}}






