<h2>Choose your flower and give it some magic</h2>

<ul class= "cards">
{{#each flowers}}
<li class="card">
  <div class = "flower">
    <span class = "name"> {{flower_name}} </span><br>
    <img src = {{image}} class="flowerpic"><br>
    {{#unless name }}
    <button>Empower me!</button>
    {{/unless}}
    <h3> {{name}} </h3>
    <p> {{description}}</p>
  </div>
</li>

{{/each}}
</ul>





