<h2>Amazing Flowers</h2>

<ul class= "cards">
{{#each flowers}}
<li class="card">
  <div class = "flower">
    <span class = "name"> {{flower_name}} </span><br>
    <img src = {{image}} class="flowerpic">
    {{#unless name }}
    <h3> Empower me!</h3>
    {{/unless}}
    <h3> {{name}} </h3>
    <p> {{description}}</p>
  </div>
</li>

{{/each}}
</ul>





